
body{
	display: flex;
	justify-content: center;

	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(221,78,34,1) 0%, rgba(0,212,255,1) 100%);
}

.days_list{
	display: flex;
	flex-direction: row;
	margin:50px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(34,60,221,0.4150035014005602) 0%, rgba(255,111,0,0.5438550420168067) 100%);
	border:2px solid black;
	border-radius: 15px;

}

.day_list{
	margin:0 20px;
	color:white;
	cursor:pointer;
}

.day_click{
	display: flex;
	justify-content: center;
}